DEV_DIR=~/Developer

#!/bin/bash
alias dotfiles="cd ~/dotfiles"
alias willy="figlet willy wonka"

# Neovim
alias neo_clean="rm -rf .config/nvim/ ~/.local/state/nvim ~/.cache/nvim"
alias neo_config="cd ~/.config/nvim"

alias vi="nvim"

# dwm development
alias dwm-f="cd ~/dev/dwm"                      # dwm folder
alias dwm-u="dwm-folder && ./scripts/update.sh" #dwm update
alias dwm-c="nvim ~/dev/dwm/config.h"           # dwm config

#llion development
alias llion="cd $DEV_DIR/llion"

alias learn="cd $DEV_DIR/learn"

## nix
#
alias nrb="sudo nixos-rebuild switch"
# Git
alias gs="git status"
alias ga="git add ."
alias gc="git commit --m "
alias gac="git add . && git commit"

# github cli

# neovim
alias nv="nvim"

#mac
alias dv="cd $DEV_DIR/"
alias oss="dv && cd oss"

# tre
