#!/bin/bash
alias dotfiles="cd ~/develop/dotfiles"
alias dwm_folder="cd ~/develop/dwm"
alias dwm_update="dwm_folder && ./scripts/update.sh"
alias willy="figlet willy wonka"
alias nvim_config="cd ~/.config/nvim"

